<head>
  <title>ChatMeteor</title>
</head>

<body>
  {{> loginButtons align="right"}}<br>
  <h1>ChatMeteor</h1>
  {{#if currentUser}}
    <h1>Logged in</h1>
  {{/if}}
  {{> welcome }}
  {{> messages}}
  {{> input}}
</body>

<template name="welcome">
  <p>
    Welcome to ChatMeteor app! Please log in to show your username.
  </p>
</template>

<template name="messages">
  {{#each messages}}
    <strong>{{name}}:</strong> {{message}}<br>
  {{/each}}
</template>

<template name="input">
  <p>Message: <input type="text" id="message"></p>
</template>


